<div class="col-md-12">
    <h4 class="text-success text-center mt-5 mb-5"><strong>Order placed successfully..Thank you..</strong></h4>
    <div class="col-md-12">
        <a href="/orders" class=" btn-block text-center mt-2 mb-5 p-5"><strong>Go to Orders page</strong></a>
    </div>
</div>